In [ ]:
# list 
#Order of the elemnts inside it doesnot change and it is mutable
a = [1,2,3,'list','string',True,False]
print(a)

[1, 2, 3, 'list', 'string', True, False]

In [ ]:
#indexxing the list
print(a[0::2])

[1, 3, 'string', False]

In [ ]:
# set 
# unorder collection of elements
#cannot be indexed but mutable

b = {9,7,1,0,'set',True,False}
print(b) #true and Flase is boolean (1 and 0) and hence the duplication is removed
print(b[0]) #since sets are non indexable, getting error here

{0, 1, 7, 9, 'set'}

TypeError: ignored

In [ ]:
#Tupules
# Unmutable, Readonly type

t = (2,4,5,True,'tuple')
print(t)
t[0] = 'adding val' #getting error since it is unmutable

(2, 4, 5, True, 'tuple')

TypeError: ignored

In [ ]:
#Dictionary
# A key value pair

d = {'apple':'red', 'banana':'yellow','grapes':'violet'}
print(d)
d['strawberry'] = 'pink' #mutating
print(d) 

print(d['apple'])

{'apple': 'red', 'banana': 'yellow', 'grapes': 'violet'}
{'apple': 'red', 'banana': 'yellow', 'grapes': 'violet', 'strawberry': 'pink'}
red

In [ ]:
# loop inside dict

for k,v in d.items():
  print('Key = ',k,end=' and ')
  print('value = ',v)

Key =  apple and value =  red
Key =  banana and value =  yellow
Key =  grapes and value =  violet
Key =  strawberry and value =  pink