List

In [ ]:
# creating lists with different datatypes

l1 = [1,2,3,7,'list','python',False,True]
l2 = [1,2,7,9,8,4,5,6]
l3 = ['banana','apple','orange','pineappele']

In [ ]:
# usind dir function on list
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Append:**
Used to add elemnt to the end of the list. Can add only one elemnt or a list to the existing list

In [ ]:
l1.append('w3 school') #appending a string to the existing list
print(l1)
l1.append([7,4,3,'groot']) #appending a list to the existing list
print(l1)

[1, 2, 3, 7, 'list', 'python', False, True, 'w3 school']
[1, 2, 3, 7, 'list', 'python', False, True, 'w3 school', [7, 4, 3, 'groot']]

**Copy:**
Used to copy and save the existing list in new variable

In [ ]:
lcop = l1.copy() #copied the list named l1 into new variable named lcop
print(lcop)

[1, 2, 3, 7, 'list', 'python', False, True, 'w3 school', [7, 4, 3, 'groot']]

**Clear:**
Clear all the elements in the whole list and the list will be empty

In [ ]:
lcop.clear() # clearing the list named lcop
print(lcop)

[]

**Count:**
The function is used to count the occurance of specified number in the list.

In [ ]:
print('The number 7 occurs',l1.count(7),'times') #counting the occurance of number 7 in the list named l1

The number 7 occurs 1 times

**Extend:**
The extend funciton is as same as append. But here we can add more than one element at the end of existing list.

In [ ]:
l1. extend(l2) # extendiing the list with another list named l2
print(l1)

[1, 2, 3, 7, 'list', 'python', False, True, 'w3 school', [7, 4, 3, 'groot'], 1, 2, 7, 9, 8, 4, 5, 6]

**Index:**
Used to find the index of the specified elemnt from the list

In [ ]:
print(l1.index(9)) #finding the index of number 9 in the list named l1

13

**Insert:**
To insert the specified number in the specified position

In [ ]:
l3.insert(2,'peach') #inserting the peach in 2nd index in the list nammed l3
print(l3)

['banana', 'apple', 'peach', 'orange', 'pineappele']

**POP:**
Pop function is used to remove and retun the last element in the list

In [ ]:
l1.pop() #this will removw and return the last value present in the list named l1

6

**Remove:**
To remove the specified element from list

In [ ]:
print(l1,'\n')
l1.remove(False) #the elemnt named False(bool type) will be removed from the list
print(l1)

[1, 2, 3, 7, 'list', 'python', False, True, 'w3 school', [7, 4, 3, 'groot'], 1, 2, 7, 9, 8, 4, 5]

[1, 2, 3, 7, 'list', 'python', True, 'w3 school', [7, 4, 3, 'groot'], 1, 2, 7, 9, 8, 4, 5]

**Reverse:**
The whole list will be reversed. The index of 0 will be changed to -1 and vice versa

In [ ]:
print(l1,'\n')
l1.reverse()
print(l1)

[1, 2, 3, 7, 'list', 'python', True, 'w3 school', [7, 4, 3, 'groot'], 1, 2, 7, 9, 8, 4, 5]

[5, 4, 8, 9, 7, 2, 1, [7, 4, 3, 'groot'], 'w3 school', True, 'python', 'list', 7, 3, 2, 1]

**Sort:**
TO arrange the list in ascending order. To perform sorting the list should have single datatype inside it not the mixture of all. It even change the order(index) of the list

In [ ]:
l3.sort() #string inside this list will be arranged alphabetically
print(l3,'\n')
l2.sort() #numbers inside this list will be arranged in ascending order
print(l2)

['apple', 'banana', 'orange', 'peach', 'pineappele']

[1, 2, 4, 5, 6, 7, 8, 9]